# Godot 4+ specific ignores
.godot/
/android/
*.tmp


# Ignore recommended in the Godot docs
*.translation

# Ignore utility tools
utilityTools/

# Ignore IDE specific files
.vscode/

# Ignore build outputs
Exports/